<mat-card *ngIf="realizedGoals.length > 0">
	<ul> Zrealizowane cele:
		<li *ngFor="let goal of realizedGoals; let i = index; trackBy: trackByFn">
			<strong>{{ goal.description }}({{ goal.amount | currencyPln }})</strong>
		</li>
	</ul>
</mat-card>

<mat-card *ngIf="currentGoal.amount > 0">
	Cel: <strong>{{ currentGoal.description }}({{ currentGoal.amount | currencyPln }})</strong> osiągnięto w {{
	getProgress() | percent:'1.0-2' }}<br/><br/>
	<mat-progress-bar mode="determinate" [value]="getProgress() * 100" color="accent"></mat-progress-bar>
	<br/>
	<button *ngIf="getProgress() >= 1" mat-raised-button color="primary" (click)="realizeGoal()">Realizuj cel</button>
	<button mat-raised-button color="warn" (click)="deleteGoal()">Usuń cel</button>
</mat-card>

<mat-card *ngIf="currentGoal.amount <= 0">
	Oszczędzaj pieniądze, aby osiągnąć wymarzony cel<br/><br/>
	<button mat-raised-button color="primary" (click)="openDialogGoal()">Ustal cel</button>
</mat-card>
