<h3 mat-dialog-title>Ustal cel</h3>

<mat-dialog-content>
	<mat-form-field>
		<input [(ngModel)]="description" matInput type="string" required placeholder="Nazwa celu" value="" tabindex="1">
	</mat-form-field>
	<mat-form-field>
		<input [(ngModel)]="amount" matInput type="number" required placeholder="Kwota, którą chcesz zaoszczędzić w zł"
			   value="" tabindex="2">
	</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-raised-button tabindex="4" (click)="closeModal()">Anuluj</button>
	<button mat-raised-button color="primary" tabindex="3" (click)="addGoalModal()">Ustal</button>
</mat-dialog-actions>
