@import '../../../../../styles/colors';

:host {
	padding: 20px;
	width: 100%;
	min-height: 50px;
	background: $grey;
	position: relative;
	flex-direction: column;
	display: flex;
}

.expander {
	width: 50px;
	height: 24px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #f0f0f0;
	position: absolute;
	bottom: -12px;
	left: 48%;
	align-content: flex-start;
	justify-content: center;
	flex-direction: row;
	display: flex;

	&:hover {
		cursor: pointer;
		background: #ebebeb;
	}
}

.content {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	display: flex;
}

.label-date {
	flex-direction: column;
	display: flex;
}

.label {
	font-size: 16px;
}

.date {
	font-size: 10px;
}

.value {
	font-size: 13px;
	font-weight: 600;
}

p {
	margin-bottom: 0;
	line-height: 1.6;
}

.actions {
	margin: 15px 0 0 0;

	button {
		margin: 0 10px 0 0;
	}
}
