<header>
	<div class="wrapper">
		<div class="header-top">
			<span class="header-top-logo">{{ title }}</span>
			<a class="header-top-author" (click)="openDialogAuthor()">Autor</a>
		</div>
		<div class="header-links">
			<div class="header-links-date">
				{{ year }}
			</div>
			<nav>
				<ul>
					<li><a routerLink="/summary" routerLinkActive="active">Podsumowanie</a></li>
					<li><a routerLink="/history" routerLinkActive="active">Historia przychodów i wydatków</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<router-outlet></router-outlet>
