<header>
	<div class="wrapper">
		<div class="header-top">
			<span class="header-top-logo">{{ title }}</span>
			<a class="header-top-author" (click)="openDialogAuthor()">Autor</a>
		</div>
		<div class="header-links">
			<div class="header-links-date">
				{{ year }}
			</div>
			<nav>
				<ul>
					<li><a routerLink="/history" routerLinkActive="active">Historia</a></li>
					<li><a routerLink="/goals" routerLinkActive="active">Cele</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<div class="actions">
	<button type="button" mat-button (click)="addOperation()">Dodaj operacje</button>
</div>
<router-outlet></router-outlet>
