@import '../../../styles/colors';

table {
	margin: 0 0 25px 0;
	border-collapse: collapse;

	tbody tr {
		&:last-child {
			border-top: 2px solid #cecece;
		}
	}

	td, th {
		padding: 15px;
		max-width: 200px;
		min-width: 100px;
		text-align: center;
		word-wrap: break-word;
		border: 1px solid $grey;
	}
}

button {
	margin: 0 10px 0 0;
}
