<h3 mat-dialog-title>Dodaj przychód</h3>

<mat-dialog-content>
	<mat-form-field>
		<input [(ngModel)]="income" matInput type="number" required minlength="1" placeholder="Wpisz kwote przychodu w zł" value="">
	</mat-form-field>
	<mat-select placeholder="Wybierz miesiąc" [(ngModel)]="month">
		<mat-option *ngFor="let month of months" [value]="month.number">{{ month.name }}</mat-option>
	</mat-select>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button tabindex="-1" (click)="closeModal()">Anuluj</button>
	<button mat-raised-button color="primary" tabindex="-1" (click)="addIncome()">Dodaj</button>
</mat-dialog-actions>
