@import '../../../styles/breakpoints';

h1 {
	margin: 0 0 25px 0;
	font-weight: 300;
}

section {
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	display: flex;
}

mat-card {
	margin: 0 0 25px 0;
}

button {
	margin: 0 10px 0 0;
}


@media screen and (max-width: $desktop-breakpoint) {
	mat-card {
		width: 100%;
	}
}
