<div class="wrapper">
	<h1>W {{ year }} zaoszczędziłeś już {{ getSavePerYear() | currencyPln }}</h1>
	<section>
		<mat-card>
			<mat-card-content>
				<ngx-charts-bar-vertical [legend]="true" legendTitle="Oszczędności" [results]="data" [xAxis]="true"
										 [yAxis]="true" xAxisLabel="Miesiące" [showXAxisLabel]="true"
										 yAxisLabel="Oszczędności" [showYAxisLabel]="true" [showGridLines]="true"
										 [yAxisTickFormatting]="yAxisTickFormatting"></ngx-charts-bar-vertical>
			</mat-card-content>
		</mat-card>
	</section>
</div>
