@import '../../../styles/breakpoints';

h1 {
	margin: 0 0 25px 0;
	font-weight: 300;
}

section {
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	display: flex;
}

mat-card {
	margin: 0 0 25px 0;
	width: 48%;
}

.chart {
	height: 410px;

	chart {
		height: 300px;
	}
}

app-goal {
	width: 48%;
}

@media screen and (max-width: $desktop-breakpoint) {
	section {
		flex-direction: column-reverse;
	}

	mat-card, app-goal {
		width: 100%;
	}
}
